Repository chompy/platform_cc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:php54, build:php56, build:php70, build:php71, build:php72, build:php73, build:golang111, build:python37

build:php54:
  stage: build
  image: tmaier/docker-compose:latest
  services:
  - docker:dind
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - 'docker build -t registry.gitlab.com/contextualcode/platform_cc/php54-fpm . -f ./docker/php/Dockerfile-php54
  
    '
  ...

build:php56:
  stage: build
  image: tmaier/docker-compose:latest
  services:
  - docker:dind
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - 'docker build -t registry.gitlab.com/contextualcode/platform_cc/php56-fpm . -f ./docker/php/Dockerfile-php56
  
    '
  ...

build:php70:
  stage: build
  image: tmaier/docker-compose:latest
  services:
  - docker:dind
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - 'docker build -t registry.gitlab.com/contextualcode/platform_cc/php70-fpm . -f ./docker/php/Dockerfile-php70
  
    '
  ...

build:php71:
  stage: build
  image: tmaier/docker-compose:latest
  services:
  - docker:dind
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - 'docker build -t registry.gitlab.com/contextualcode/platform_cc/php71-fpm . -f ./docker/php/Dockerfile-php71
  
    '
  ...

build:php72:
  stage: build
  image: tmaier/docker-compose:latest
  services:
  - docker:dind
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - 'docker build -t registry.gitlab.com/contextualcode/platform_cc/php72-fpm . -f ./docker/php/Dockerfile-php72
  
    '
  ...

build:php73:
  stage: build
  image: tmaier/docker-compose:latest
  services:
  - docker:dind
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - 'docker build -t registry.gitlab.com/contextualcode/platform_cc/php73-fpm . -f ./docker/php/Dockerfile-php73
  
    '
  ...

build:golang111:
  stage: build
  image: tmaier/docker-compose:latest
  services:
  - docker:dind
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - 'docker build -t registry.gitlab.com/contextualcode/platform_cc/golang-1-11 . -f ./docker/golang/Dockerfile-golang111
  
    '
  ...

build:python37:
  stage: build
  image: tmaier/docker-compose:latest
  services:
  - docker:dind
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - 'docker build -t registry.gitlab.com/contextualcode/platform_cc/python-3-7 . -f ./docker/python/Dockerfile-python37
  
    '
  ...

fix golang image
  docker/golang/Dockerfile-golang111
Due: build:golang111

version bump
  CHANGELOG
  setup.py
Due: none

updated router config to fix issue with large upstream headers
  platform_cc/data/router_nginx.conf
Due: none

fixed php 5 igbinary
  CHANGELOG
  docker/php/conf/build_ext.sh
Due: build:php54, build:php56, build:php70, build:php71, build:php72, build:php73

tweaked php install dependencies script; added service routes to PLATFORM_ROUTES env var; tweaked solr to add core config on first creation
  CHANGELOG
  docker/php/conf/install_dependencies.sh
  platform_cc/application/base.py
  platform_cc/container.py
  platform_cc/parser/routes.py
  platform_cc/router.py
  platform_cc/services/redis.py
  platform_cc/services/solr.py
  setup.py
Due: build:php54, build:php56, build:php70, build:php71, build:php72, build:php73

added option to change domain name suffix for custom pcc domains in route parser
  platform_cc/parser/routes.py
  platform_cc/project.py
  platform_cc/router.py
Due: none

fixed issue where apps that rely on services in post app start groups (varnish) can't start
  platform_cc/application/base.py
  platform_cc/services/base.py
Due: none

psh cloner support for multi application projects
  platform_cc/platform_sh/cloner.py
Due: none

mariadb user create query method
  platform_cc/parser/routes.py
  platform_cc/project.py
  platform_cc/services/mariadb.py
Due: none

change mysql user create query...discovered users can be created with grant query
  platform_cc/services/mariadb.py
Due: none

expose commands used to init mysql+solr for kube; solr config files are now tar'd and uploaded in one go
  platform_cc/services/base.py
  platform_cc/services/mariadb.py
  platform_cc/services/solr.py
Due: none

fix solr start command
  platform_cc/parser/yaml_archive.py
  platform_cc/services/solr.py
Due: none

modify create solr command with expectation that it will be ran as solr user
  platform_cc/services/solr.py
Due: none

add hostmap for varnish vcl generate
  platform_cc/services/varnish.py
Due: none

fix service getContainerCommand
  platform_cc/services/base.py
Due: none

add php dependency binaries
  platform_cc/application/php.py
Due: none

expose service disk size to service class
  platform_cc/parser/services.py
Due: none

https://gitlab.com/contextualcode/platform_cc/issues/1
  platform_cc/commands/applications.py
Due: none

php docker symlink app dir to extension dir
  docker/php/conf/config_php.sh
Due: build:php54, build:php56, build:php70, build:php71, build:php72, build:php73

option to disable http routes
  platform_cc/router.py
Due: none

allow domain name wildcard in router default ssl config
  CHANGELOG
  platform_cc/router.py
Due: none

app nginx support rule routes and expire option
  platform_cc/application/base.py
  platform_cc/application/go.py
  platform_cc/application/php.py
  platform_cc/application/python.py
Due: none

possible to remove main/extra routes
  platform_cc/parser/routes.py
  platform_cc/project.py
  platform_cc/router.py
Due: none

replace extra domains sub domain seperation with hyphen
  platform_cc/parser/routes.py
Due: none

fixed bug with php route generation; sub domain seperator configurable
  platform_cc/application/php.py
  platform_cc/parser/routes.py
Due: none

add nginx include to all routes in route generation
  platform_cc/router.py
Due: none

add java to php dependencies
  docker/php/conf/install_dependencies.sh
Due: build:php54, build:php56, build:php70, build:php71, build:php72, build:php73

added check/wait for solr service before running commands
  CHANGELOG
  docker/php/conf/install_dependencies.sh
  platform_cc/services/solr.py
Due: build:php54, build:php56, build:php70, build:php71, build:php72, build:php73

added libzip to php docker images; version bump
  CHANGELOG
  docker/php/conf/build_ext.sh
  docker/php/conf/install_dependencies.sh
  setup.py
Due: build:php54, build:php56, build:php70, build:php71, build:php72, build:php73

fix issue with path to php_extensions.json and router_nginx.conf; fixed issue with router:add command
  platform_cc/application/php.py
  platform_cc/commands/router.py
  platform_cc/core/__init__.py
  platform_cc/core/router.py
Due: none

fixed setup.py to allow executing platform_cc package as script
  platform_cc/__init__.py
  setup.py
Due: none

removed php 5.4, added php 7.4; moved tests to root to fix issues
  CHANGELOG
  README.md
  docker/build_all.sh
  docker/php/Dockerfile-php54
  docker/php/Dockerfile-php74
  docker/push_all.sh
  platform_cc/tests/__init__.py
  tests/__init__.py
  tests/__main__.py
  tests/data/.pcc_variables.json
  tests/data/.platform.app.pcc.yaml
  tests/data/.platform.app.yaml
  tests/data/.platform/routes.pcc.yaml
  tests/data/.platform/routes.yaml
  tests/data/.platform/services.pcc.yaml
  tests/data/.platform/services.yaml
  tests/data/multi-app/app1/.platform.app.yaml
  tests/data/multi-app/app2/.platform.app.yaml
  tests/mock_docker.py
  tests/test_container.py
  tests/test_parser.py
  tests/test_var.py
Due: build:php54

fix shell command (mysql:sql) stdin so that character encoding should no longer matter
  platform_cc/__init__.py
  platform_cc/core/container.py
Due: none

fixed broken test
  platform_cc/core/container.py
  tests/mock_docker.py
Due: none

fix stdin on shell commands...specifically for mysql dump execute
  platform_cc/core/container.py
Due: none

replace itteritems with items method in docker service (python 3)
  platform_cc/services/docker.py
Due: none

Path conditions:
  build:php54: any of: docker/php/conf/*, docker/php/Dockerfile-php54
  build:php56: any of: docker/php/conf/*, docker/php/Dockerfile-php56
  build:php70: any of: docker/php/conf/*, docker/php/Dockerfile-php70
  build:php71: any of: docker/php/conf/*, docker/php/Dockerfile-php71
  build:php72: any of: docker/php/conf/*, docker/php/Dockerfile-php72
  build:php73: any of: docker/php/conf/*, docker/php/Dockerfile-php73
  build:golang111: any of: docker/golang/*
  build:python37: any of: docker/python/*
