Repository chompy/platform_cc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:php54, build:php56, build:php70, build:php71, build:php72, build:php73, build:golang111, build:python37

Path conditions:
  build:php54: any of: docker/php/conf/*, docker/php/Dockerfile-php54
  build:php56: any of: docker/php/conf/*, docker/php/Dockerfile-php56
  build:php70: any of: docker/php/conf/*, docker/php/Dockerfile-php70
  build:php71: any of: docker/php/conf/*, docker/php/Dockerfile-php71
  build:php72: any of: docker/php/conf/*, docker/php/Dockerfile-php72
  build:php73: any of: docker/php/conf/*, docker/php/Dockerfile-php73
  build:golang111: any of: docker/golang/*
  build:python37: any of: docker/python/*

tweak gitlab ci yaml
  .gitlab-ci.yml
Due: none

fix to nodejs install in docker
  .gitlab-ci.yml
  docker/php/conf/build_ext.sh
  docker/php/conf/install_dependencies.sh
Due: build:php54, build:php56, build:php70, build:php71, build:php72, build:php73

added project:pull and service:pull commands
  CHANGELOG
  platform_cc/__main__.py
  platform_cc/commands/project.py
  platform_cc/commands/services.py
Due: none

php docker yarn install
  docker/php/conf/install_dependencies.sh
Due: build:php54, build:php56, build:php70, build:php71, build:php72, build:php73

fix issue where php7 memcached wasn't being built
  docker/php/conf/build_ext.sh
Due: build:php54, build:php56, build:php70, build:php71, build:php72, build:php73

add ruby compass+sass to php dependencies
  docker/php/conf/install_dependencies.sh
Due: build:php54, build:php56, build:php70, build:php71, build:php72, build:php73

fixed error in build dep bash that broke memcached and redis in php7
  docker/php/conf/build_ext.sh
Due: build:php54, build:php56, build:php70, build:php71, build:php72, build:php73

fix double build container issue; baked additional components of php build in php container; tweaks and fixes to php containers
  docker/build_all.sh
  docker/golang/Dockerfile-golang111
  docker/php/Dockerfile-php54
  docker/php/Dockerfile-php56
  docker/php/Dockerfile-php70
  docker/php/Dockerfile-php71
  docker/php/Dockerfile-php72
  docker/php/Dockerfile-php73
  docker/php/conf/config_php.sh
  docker/php/conf/install_dependencies.sh
  docker/python/Dockerfile-python37
  platform_cc/application/base.py
  platform_cc/application/php.py
  platform_cc/services/solr.py
  platform_cc/services/varnish.py
Due: build:php54, build:php56, build:php70, build:php71, build:php72, build:php73, build:golang111, build:python37

version bump; application images now pull tag based on pcc version
  .gitlab-ci.yml
  CHANGELOG
  docker/build_all.sh
  docker/golang/Dockerfile-golang111
  docker/php/Dockerfile-php71
  docker/php/conf/config_php.sh
  docker/python/Dockerfile-python37
  platform_cc/__main__.py
  platform_cc/application/go.py
  platform_cc/application/php.py
  platform_cc/application/python.py
  platform_cc/container.py
  setup.py
Due: build:php54, build:php56, build:php70, build:php71, build:php72, build:php73, build:golang111, build:python37

fix php images names in php_extensions.json; forgot to commit version.py
  platform_cc/application/php.py
  platform_cc/data/php_extensions.json
  platform_cc/version.py
Due: none

fix yaml deprecation warning; fixed issue where mount points were setup twice during php start
  CHANGELOG
  platform_cc/application/base.py
  platform_cc/application/php.py
  platform_cc/data/php_extensions.json
  platform_cc/parser/routes.py
Due: none

began implementing platform.sh project installer...have api connection working, git cloner WIP
  platform_cc/__main__.py
  platform_cc/commands/platformsh.py
  platform_cc/config.py
  platform_cc/container.py
  platform_cc/platform_sh/__init__.py
  platform_cc/platform_sh/api.py
  platform_cc/platform_sh/config.py
  platform_cc/platform_sh/exception/__init__.py
  platform_cc/platform_sh/exception/access_token_error.py
  platform_cc/platform_sh/exception/api_error.py
  platform_cc/project_installer/__init__.py
  platform_cc/project_installer/task_handlers/__init__.py
  platform_cc/project_installer/task_handlers/asset_s3.py
  platform_cc/project_installer/task_handlers/base.py
  platform_cc/project_installer/task_handlers/mysql_import.py
  platform_cc/project_installer/task_handlers/rsync.py
  requirements.txt
  setup.py
Due: none

psh cloner, git clone working; TODO ssh to get database dumps
  platform_cc/commands/platformsh.py
  platform_cc/platform_sh/api.py
  platform_cc/platform_sh/cloner.py
Due: none

platform.sh service asset fetch WIP
  platform_cc/platform_sh/cloner.py
  platform_cc/platform_sh/fetch/__init__.py
  platform_cc/platform_sh/fetch/base.py
  platform_cc/platform_sh/fetch/mysql.py
Due: none

psh project cloner working with mysql dump/import...TODO figure out how submodule ssh key works
  platform_cc/commands/mysql.py
  platform_cc/container.py
  platform_cc/platform_sh/cloner.py
  platform_cc/platform_sh/fetch/__init__.py
  platform_cc/platform_sh/fetch/base.py
  platform_cc/platform_sh/fetch/mysql.py
  platform_cc/services/mariadb.py
Due: none

fixed error thrown when pulling image when building app; added blackfire php extension bypass
  CHANGELOG
  platform_cc/container.py
  platform_cc/data/php_extensions.json
  platform_cc/platform_sh/cloner.py
Due: none

no longer set ssh key automatically and upload to psh now user must set; build hooks and deploy hooks now user interactive shell; psh variable clone now skips senstive vars
  CHANGELOG
  platform_cc/__main__.py
  platform_cc/application/base.py
  platform_cc/application/php.py
  platform_cc/commands/platformsh.py
  platform_cc/container.py
  platform_cc/platform_sh/api.py
  platform_cc/platform_sh/cloner.py
  platform_cc/platform_sh/config.py
  platform_cc/platform_sh/exception/config_error.py
Due: none

psh cloner rsync mounts and fix mysql fetch
  platform_cc/application/base.py
  platform_cc/platform_sh/api.py
  platform_cc/platform_sh/cloner.py
  platform_cc/platform_sh/fetch/base.py
  platform_cc/platform_sh/fetch/mysql.py
Due: none

psh cloner file permission fixes; updated readme
  README.md
  platform_cc/platform_sh/cloner.py
Due: none

added global project variables; now store platform_sh api token so user doesn't have to refresh every hour
  CHANGELOG
  README.md
  platform_cc/commands/platformsh.py
  platform_cc/commands/variables.py
  platform_cc/config.py
  platform_cc/exception/project_init_error.py
  platform_cc/platform_sh/api.py
  platform_cc/platform_sh/cloner.py
  platform_cc/platform_sh/config.py
  platform_cc/platform_sh/exception/access_error.py
  platform_cc/project.py
  platform_cc/variables/var_dict.py
Due: none

version bump
  CHANGELOG
  setup.py
Due: none

began working on unit tests, added container test; added unittest to gitlab ci
  .gitlab-ci.yml
  platform_cc/tests/__init__.py
  platform_cc/tests/__main__.py
  platform_cc/tests/mock_docker.py
  platform_cc/tests/test_container.py
Due: none

more tests for container; added parser and var tests
  platform_cc/tests/data/.pcc_variables.json
  platform_cc/tests/data/.platform.app.yaml
  platform_cc/tests/data/multi-app/app1/.platform.app.yaml
  platform_cc/tests/data/multi-app/app2/.platform.app.yaml
  platform_cc/tests/mock_docker.py
  platform_cc/tests/test_container.py
  platform_cc/tests/test_parser.py
  platform_cc/tests/test_var.py
  platform_cc/variables/var_dict.py
Due: none

added routes parser and services parser tests; added .pcc.yaml override tests
  platform_cc/tests/data/.pcc_variables.json
  platform_cc/tests/data/.platform.app.pcc.yaml
  platform_cc/tests/data/.platform/routes.pcc.yaml
  platform_cc/tests/data/.platform/routes.yaml
  platform_cc/tests/data/.platform/services.pcc.yaml
  platform_cc/tests/data/.platform/services.yaml
  platform_cc/tests/test_parser.py
Due: none

updated php docker to symlink bin paths for php-fpm used by psh; added args to skip steps in psh cloner
  docker/php/conf/config_php.sh
  platform_cc/commands/platformsh.py
  platform_cc/platform_sh/cloner.py
Due: build:php54, build:php56, build:php70, build:php71, build:php72, build:php73

untested tweak to git reset set in psh cloner
  platform_cc/platform_sh/cloner.py
Due: none

potiential fix for mysql command error 'ascii codec can't decode'
  platform_cc/container.py
Due: none

tweaks to psh cloner; psh sync command; updated php-fpm.conf in php containers to be closer to platform.sh; version bump
  CHANGELOG
  docker/php/Dockerfile-php54
  docker/php/Dockerfile-php56
  docker/php/Dockerfile-php70
  docker/php/Dockerfile-php71
  docker/php/Dockerfile-php72
  docker/php/Dockerfile-php73
  docker/php/conf/config_php.sh
  docker/php/conf/install_dependencies.sh
  docker/php/conf/php-fpm.conf
  platform_cc/__main__.py
  platform_cc/commands/platformsh.py
  platform_cc/platform_sh/cloner.py
  platform_cc/platform_sh/fetch/__init__.py
  platform_cc/platform_sh/fetch/base.py
  platform_cc/platform_sh/fetch/mysql.py
  setup.py
Due: build:php54, build:php56, build:php70, build:php71, build:php72, build:php73

fix mysql fetch issue in psh cloner/syncer
  platform_cc/platform_sh/cloner.py
  platform_cc/platform_sh/fetch/base.py
  platform_cc/platform_sh/fetch/mysql.py
Due: none

fixed issue with platform.sh remote url when updating git remote during psh clone
  platform_cc/platform_sh/cloner.py
Due: none

fixed platform_sh sync to default to master branch when environment not set
  platform_cc/commands/platformsh.py
Due: none

updated docker files with new apt packages; version bump
  docker/golang/Dockerfile-golang111
  docker/php/conf/install_dependencies.sh
  docker/python/Dockerfile-python37
Due: build:php54, build:php56, build:php70, build:php71, build:php72, build:php73, build:golang111, build:python37

forgot to commit version bump and changelog
  CHANGELOG
  setup.py
Due: none

added commands to export nginx configs
  platform_cc/__main__.py
  platform_cc/commands/applications.py
  platform_cc/commands/router.py
  platform_cc/project.py
Due: none

preliminary solr support, needs testing
  platform_cc/services/solr.py
Due: none

additional params to router nginx config generator
  platform_cc/project.py
  platform_cc/router.py
Due: none

fixed encoding bug in PLATFORM_ROUTES environment variable
  platform_cc/application/base.py
Due: none

change solr start command to allow multi shard queries without whitelist
  platform_cc/services/solr.py
Due: none

varnish support WIP
  platform_cc/parser/services.py
  platform_cc/project.py
  platform_cc/router.py
  platform_cc/services/base.py
  platform_cc/services/varnish.py
Due: none

completion of varnish support
  README.md
  platform_cc/commands/project.py
  platform_cc/project.py
  platform_cc/router.py
  platform_cc/services/varnish.py
Due: none
